/* @font-face {
  font-family: 'Nimbus Sans';
  src: url('assets/fonts/nimbussanl-bolita-webfont.woff') format('woff'),
       url('assets/fonts/nimbussanl-bol-webfont.woff') format('woff')
       url('assets/fonts/nimbussanl-regita-webfont.woff') format('woff'),
       url('assets/fonts/nimbussanl-reg-webfont.woff') format('woff'),
       url('assets/fonts/nimbussanl-bolita-webfont.woff2') format('woff2'),
       url('assets/fonts/nimbussanl-bol-webfont.woff2') format('woff2'),
       url('assets/fonts/nimbussanl-regita-webfont.woff2') format('woff2'),
       url('assets/fonts/nimbussanl-reg-webfont.woff2') format('woff2');  

  font-weight: normal;
  font-style: normal;
} */

:root {
  --text-color: #171717; /* Primary text color */
  --background-color: white;
  --accent-color: #ef3e3d; /* Accent color for highlights */
  --border-color: black;
}

.dark-mode {
  --text-color: #e4e4e4; /* Primary text color */
  --background-color: rgb(26, 26, 26);
  --accent-color: #EF3E3D; /* Accent color for highlights */
  --border-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  letter-spacing: -0.8px;
  line-height: normal;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}


body {
  width: 100%; /* 100% of the viewport width */
  background-color: var(--background-color);
  margin: 0; /* Remove default margin */
  padding: 0 50px;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


#container {
  
  width: 100%;
  
  
}

header {
  padding-top: 80px;
  position: relative;
  width: 100%;
}

#top-bar {
  z-index: 100; 
  height: 80px;
  border-bottom: var(--border-color) 1px solid;
  display: flex;
  flex-direction: row;
  position: fixed;
  top:0;
  right:50px;
  left: 50px;
  box-sizing: border-box;
  background-color: var(--background-color);
  justify-content: space-between;
  align-items: center;
  
}

a {
  text-decoration: none;
}

/* MENU NAV  */

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

.menu ul li {
  margin-left: 80px;
  color: var(--text-color);
}

.menu ul li a {
  text-decoration: none;
  color: var(--text-color);
  
}

.menu ul li a:hover {
  color: var(--accent-color);
}

.hamburger {
  display: none; /* Hide hamburger menu on desktop */
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 2px;
  width: 30px;
  background-color: var(--border-color);
  margin: 3px 0;
}

/* ----------------  */ 


.content a {
  
  color: var(--accent-color);
  
}

a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

/* Container to manage the layout of the logo */
#logo {
  display: flex;
  align-items: center;
}

/* Auto width for the text logo */
.logo-text {
  width: auto;
  height: 40px; /* Adjust height as needed */
  
}

/* Fixed width for the sign logo */
.logo-sign {
  width: 40px; /* Manually set width for the sign logo */
  height: auto; /* Maintain aspect ratio */
}



.hero-section {
  padding: 180px 0;
  
}
/*
.hero-image {
  padding-right: 13vw;
  margin-left: 100px;
} 
*/

.main-heading {
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 20px;
  line-height: 3.8rem;
  max-width: 1400px;
  color: var(--text-color);

}

.sub-heading {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 10px;
  color: var(--text-color);
}

.red-color {
  color: var(--accent-color);
}


.content {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px;
    
    
    font-size: 1.1rem;
    line-height: 1.6rem;
    background-color: var(--background-color);

  }

.content > *:not(:last-child) {
  padding-bottom: 80px;
}

.section {
    border-top: var(--border-color) 1px solid;
    padding-top: 30px;
    display: flex;
    flex-direction: row;

  }
  
  

.section-title {
  margin-top: -100px;
  padding-top: 100px;
  padding-right: 50px;
  width: 350px;
  font-weight: 700;
  
}

.section-sub-title {
  margin-top: -100px;
  padding-top: 100px;
  
  width: 250px;  
  padding-right: 70px;
  font-weight: 700;
}


.sub-section-container {
  width: 100%;
}
.sub-section-container > *:not(:first-child) {
  border-top: var(--border-color) 1px solid;
  padding-top: 30px;
}

.sub-section {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.section-text {
  font-weight: 300;
  max-width: 700px;
  
}

.section-image {
  padding-left: 200px;
  padding-top: 20px;
  align-items: top;
}

.section-image img {
  height: 220px;
  width: auto;
  object-fit: contain;
}

/* .section-text-sub-title {  font-weight: 700; } */

  .section-text p{
    margin: 0 0 20px 0;   
  }

footer {
  height: 80px;
  display: flex;
  justify-content:end;
  align-items: center;
  border-top: var(--border-color) 1px solid;
    
  margin-top: 240px;
  
}

.footer-menu ul {
  font-size: 0.8rem;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu ul li {
  margin-left: 40px;
  color: var(--text-color);
}


.footer-menu ul li a {
  text-decoration: none;
  color: var(--text-color)
}


/* ---------MOBILE VIEW ---------------- */

@media (max-width: 768px ){

  html {
    font-size: 16px;
    width: 100vw;
  }

  body {
    padding: 0 20px;
    
    
  }

  #top-bar {
    height: 60px;
    right:20px;
    left: 20px;
  }

  .logo-text {
    height: 30px;
  }
  /* NAVIGATION MENU */

  .menu ul {
    max-height: 0; /* Start with the menu hidden */
    overflow: hidden; /* Hide overflowing content */
    flex-direction: column;
    background-color: var(--background-color);
    
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    position: absolute;
    top: 59px; /* Adjust based on top bar height */
    right: 0px;
    width: 220px;
    padding: 0 20px; /* Remove padding to prevent overflow when hidden */
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    
}

.menu ul li {
    margin: 10px 0;
}

.hamburger {
    display: flex; /* Show hamburger menu on mobile */
}

.menu.active ul {
    max-height: 500px; /* Adjust this height based on the menu content */
    width: 220px;
    padding: 20px 20px; /* Add padding when the menu is visible */
    border-bottom: 1px solid var(--border-color);
}

/* Optional: Adjust the transition for closing */
.menu ul li {
    transition: opacity 0.3s ease-in-out;
    border-bottom: 0.5px rgb(114, 114, 114) solid;
    padding-bottom: 15px;
    
}



.menu ul li:last-child {
  border: none;
  padding-bottom: 5px;
}


.menu ul li.hidden {
    opacity: 0;
}

  /* END MENU NAV ------------------------------------------ */




  .hero-section {
    padding:  100px 0;
  }

  .main-heading {
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 20px;
  }
  .sub-heading {
    font-size: 1.4rem;
    padding-bottom: 15px;
  }



  .section {
    flex-direction: column;
  }

  .section-title {
    margin-top: -80px;
    padding-top: 80px;

    width: 100%;
    margin-bottom: 30px;
    font-size: 1.4rem;
    
  }

  .section-sub-title {
    margin-top: -80px;
    padding-top: 80px;

    width: 100%;
    margin-bottom: 20px;
    
    order: 1;
  }

  .sub-section-container > *:not(:first-child) {
    border-top: none;
    padding-top: 0px;
  }

  .sub-section {
    flex-direction: column;
    padding-bottom: 0px;
  }
  .section-text {
    width: 100%;

    order: 3;
  }

  .section-image {
    order: 2;
    align-items:left;
    padding-left: 0px;
    padding-bottom: 20px;
  }





  footer {
    justify-content: center;
  }

  .footer-menu ul li {
    margin-left: 20px;
    margin-right: 20px;
   
  }

}






#maintan {
  position: fixed;
  z-index: 3;
  top:0;
  background-color: #EF4136;
  height: 100%;
  width: 100%;
}
