/* @font-face {
  font-family: 'Nimbus Sans';
  src: url('assets/fonts/nimbussanl-bolita-webfont.woff') format('woff'),
       url('assets/fonts/nimbussanl-bol-webfont.woff') format('woff')
       url('assets/fonts/nimbussanl-regita-webfont.woff') format('woff'),
       url('assets/fonts/nimbussanl-reg-webfont.woff') format('woff'),
       url('assets/fonts/nimbussanl-bolita-webfont.woff2') format('woff2'),
       url('assets/fonts/nimbussanl-bol-webfont.woff2') format('woff2'),
       url('assets/fonts/nimbussanl-regita-webfont.woff2') format('woff2'),
       url('assets/fonts/nimbussanl-reg-webfont.woff2') format('woff2');  

  font-weight: normal;
  font-style: normal;
} */

:root {
  --text-color: #171717; /* Primary text color */
  --black-color: black;
  --accent-color: #EF3E3D; /* Accent color for highlights */
  --secondary-color: #f0f0f0;
}



html {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  letter-spacing: -0.8px;
  line-height: normal;
  color: var(--text-color);

}


body {
  margin: 0;
  padding: 0 50px;
  
  
}


#container {
  
  width: 100%;
  
  
}

header {
  padding-top: 80px;
  
}

#top-bar {
  z-index: 1; /* Ensure these elements appear above the random lines */
  height: 80px;
  border-bottom: black 1px solid;
  display: flex;
  flex-direction: row;
  position: fixed;
  top:0;
  right:50px;
  left: 50px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  
}

a {
  text-decoration: none;
}

#top-menu a {
  margin-left: 80px;
  color: var(--text-color);

  
}

.content a {
  
  color: var(--accent-color);
  
}

a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

/* Container to manage the layout of the logo */
#logo {
  display: flex;
  align-items: center;
}

/* Auto width for the text logo */
.logo-text {
  width: auto;
  height: 40px; /* Adjust height as needed */
  margin-right: 8px; /* Spacing between text and sign logos */
}

/* Fixed width for the sign logo */
.logo-sign {
  width: 40px; /* Manually set width for the sign logo */
  height: auto; /* Maintain aspect ratio */
}



.hero-section {
  padding: 180px 0;
  
}

.hero-image {
  padding-right: 13vw;
  margin-left: 100px;
  position: relative;
  bottom: -180px;
  z-index: -1;
}

.main-heading {
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 20px;
  line-height: 3.8rem;
  max-width: 1400px;

}

.sub-heading {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 10px;
}

.red-color {
  color: var(--accent-color);
}


.content {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px;
    
    
    font-size: 1.1rem;
    line-height: 1.6rem;
    background-color: white;

  }

.content > *:not(:last-child) {
  padding-bottom: 80px;
}

.section {
    border-top: #171717 1px solid;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    
    
  }
  
  

.section-title {
  margin-top: -100px;
  padding-top: 100px;
  padding-right: 50px;
  width: 350px;
  font-weight: 700;
  
}

.section-sub-title {
  width: 250px;
  
  padding-right: 70px;
  font-weight: 700;
}


.sub-section-container {
  width: 100%;
}
.sub-section-container > *:not(:first-child) {
  border-top: #171717 1px solid;
  padding-top: 30px;
}

.sub-section {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  
}

.section-text {

  font-weight: 300;
  max-width: 650px;
  
}


.section-text-sub-title {
  font-weight: 700;
}
  


  .section-text p{
    margin: 0 0 20px 0;
    
  }



footer {
  height: 80px;
  display: flex;
  justify-content:end;
  align-items: center;
  border-top: #171717 1px solid;
  font-size: 0.8rem;
  text-decoration: none;
  margin-top: 180px;
  
}

.hamburger {
  display: none; /* Hide hamburger menu on desktop */
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: var(--black-color);
  margin: 4px 0;
}



@media (max-width: 768px ){

  html {
    font-size: 22px;
  }

  body {
    padding: 0 15p;
  }

  /* NAVIGATION MENU */

  #top-menu {
    display: none; /* Hide menu items on mobile */
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px; /* Adjust based on top bar height */
    right: 20px;
    width: 200px;
  }

  #top-menu a {
    margin: 10px 0;
  }

  .hamburger {
    display: flex; /* Show hamburger menu on mobile */
  }

  #top-menu.active {
    display: flex; /* Show menu items when hamburger is clicked */
  }
  

  /* -------- */

  .hero-section {
    padding:  140px 0;
  }

  .main-heading {
    font-size: 3.2rem;
    padding-bottom: 40px;
  }
  .sub-heading {
    font-size: 2rem;
    padding-bottom: 25px;
  }

  .content {
    font-size: 1.4px;
  }

  .section {
    flex-direction: column;
  }

  .section-title {
    padding: 0;
    width: 100%;
  }

  .sub-section {
    flex-direction: column;
  }
  .section-text {
    width: 100%;
  }



}






#maintan {
  position: fixed;
  z-index: 3;
  top:0;
  background-color: #EF4136;
  height: 100%;
  width: 100%;
}
